

.chart{
    display: flex;
    justify-content:center;
}

.chart-container{
    justify-content:center;
    margin-bottom:100px;
}

@media screen and (max-width:1000px) {
.chart{
    display: block;
    padding:20px;
}
.chart-L, .chart-A {
    margin-bottom: px;
}
}

@media screen and (max-width:875px) {
    .chart{
        display: block;
        padding:20px;
    }
    .chart-L, .chart-A {
        margin-bottom: 30px;
    }
    }

